html, body {
   /* overflow: hidden; */
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

select {
    background: transparent;
    color: inherit;
    font-size: 1.1em;
    padding: 0.6em;
    border-color: #000;
}

body {
    color: #DDD;
}

.vert-panel .color-item {
    width: 240px;
    height: 70px;
    margin: 0.2em;
    border: solid 2px #444;
    border-radius: 0;
}

.colors-container.open {
    color: #111;
}

.inline button {
    margin: 0em 0;
    margin-left: auto;
}

.vert-panel {
    padding: 1em;
    background: #444;
    border-top: solid 2px #000;
}

.vert-panel h2 {
    margin: 0 0 0.6em;
    font-family: inherit;
    font-size: 1.5em;
}

.main-panel.addons {
    overflow: auto;
}

body {
    max-height: 99.8%;
    overflow: hidden;
    border: solid 1px #646464;
}

.view {
    max-height: 100%;
}

#renderCanvas, #game_canvas {
    display: inline-block;

}

.game-canvas {
   width: 100%;
   height: 100%;
   touch-action: none;
}


component section label {
    /* background: #FFF; */
    width: 100%;
    display: flex;
    font-family: monospace;
}

.log-container {
    border: solid 1px #CCC;
    width: 49%;
    display: inline-block;
    min-height: 200px;
    vertical-align: top;
}

.title {
    font-size: 1.5em;
    color: #666;
    margin: 1% 2% 0;
    font-family: monospace;
    color: #333;
}

.log-content-wrapper {
    border: solid 1px #EEE;
    margin: 2%;
    font-family: monospace;
    margin-top: 0.6em;
}

ul.log-collection {
    margin: 0;
    padding: 0;
    max-height: 250px;
    overflow: auto;
}

li.log-item .info:before {
    content: "\0203A";
    margin: 0 0.3em 0 0.2em;
    color: #a4c3d6;
    text-align: center;
    display: block;
}

li.log-item {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.log-item .info {
    min-width: 1.6em;
}

.log-item span.index {
    font-size: 0.8em;
    background: #dcdcdc;
    min-width: 2.2em;
    text-align: right;
    color: #8a8a8a;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.log-item span.name {
    background: #e0e0e0;
    color: #808080;
    font-size: 0.8em;
    /* padding: 0.2em 0.6em; */
    /* margin: 0 0.5em 0 0; */
    padding-right: 0.6em;
    display: none;
}

.log-item > span {
    padding: 0.1rem 0;
    /* vertical-align: inherit; */
    display: inline-block;
}

.log-content-wrapper .history {
    background: rgb(255, 252, 219);
    font-size: 0.9em;
    padding: 0.4em 0.3em 0.7em;
    color: #545454;
    /* text-shadow: 0 0px 0.1px #999; */
}

.log-content-wrapper .history span.value {
    color: #000;
    background: hsla(54,72%,83%,1);
    padding: 0em 0.6em 0.1em;
    border-radius: 20px;
    font-size: 0.9em;
    text-align: center;
    display: inline-block;
    margin-left: 0.3em;
    /* min-width: 2em; */
}

.history a {
    color: #2a96f5;
    /* border-bottom: solid 1px; */
    /* display: inline-block; */
    /* margin-bottom: -4px; */
    /* text-decoration: none; */
}

.log-item span.time {
    color: #6c95af;
    margin-right: 0.5em;
}

.log-item span.value {
    color: #3c3c3c;
}

span.info[data-info=error]:before {
    /* content: "!"; */
    color: white;
    background: #9c4848;
    border-radius: 50%;
    text-align: center;
}

span.info[data-info=warn]:before {
    /* content: "!"; */
    color: white;
    background: #d0ca99;
    border-radius: 50%;
    text-align: center;
}

span.info[data-info=info]:before {
    /* content: "!"; */
    color: white;
    background: #6296ce;
    border-radius: 50%;
    text-align: center;
}


.log-container[data-template] {
    display: none;
}

.log-content-wrapper .history.hidden {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.log-item .time em {
    font-style: inherit;
    color: #d2d2d2;
}

.log-item .time {
}

span.index[data-count] {
    background: #ffffff;
    /* border-radius: 34px; */
    display: inline-block;
    /* color: #fff; */
}

.log-item span.hidden {
    display: none;
}

span.index[data-count].hidden {
    display: initial;
    background: #EEE;
}


.view {
    display: flex;
    min-height: 600px;
}

#mocha.themed .test h2 {
    font-size: 1rem;
    font-family: 'Courier New', monospace;
}

#mocha.themed .test.pass::before,
#mocha.themed .test.fail::before
{
    font-size: 1rem;
    font-weight: bold;
}

#mocha.themed .test pre {
    margin: 1rem 0;
    background: #FFF;
    border: none;
    box-shadow: none;
    font-size: 0.9rem;
}

div#mocha.themed {
    margin: 0;
    width: 100%;
}

div#mocha.themed {
    width: 100%;
    background: #f7f7f7;
}

.themed ul#mocha-stats {
    position: initial;
    padding: 1em;
    font-size: 1rem;
    font-family: 'Courier New', monospace;
}

button {
    padding: 0.5em 1em;
    border: none;
    background: #DDD;
    border-radius: 4px;
    font-size: 1rem;
}

.tools {
    margin: 1em;
    display: flex;
}

.tools button {
    margin: 0 1em 0 0;
}

button {
    cursor: pointer;
}

button:hover {background: #CCC;}

.tools button {
    margin: 0 1em 0 0;
}


/* Colors */
.colors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Courier New', monospace;
}

.color-item.bright {
    color: white;
}

.color-item {
    width: 160px;
    margin: 1rem;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 2px;
    border: solid 5px #dfdfdf;
}

.color-item>span {
    width: 100%;
    text-align: center;
}

.cs input {
    width: 100%;
}

.cs label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0;
}

.cs label span {
    width: 3em;
}

.panel.colors {
    margin: 3rem;
    font-family: Arial;
}


.colors-container {
    overflow: hidden;
    border: solid 4px #555;
    display: none;
}

.controls {
    background: #555;
    color: #FFF;
    padding: 1.5rem 2rem;
    overflow: hidden;
    display: none;
}

.controls.open {
    display: block
}

.colors-container.open {
    display: flex;
}

.inline {
    display: flex;
}

.inline h1 {
    margin: 0;
}

.inline h1 + button {
    margin: 0 1rem;
}

html {
    background: #333;
}

body div#mocha.themed {
    background: inherit;
    color: #747474;
}

.themed #mocha-stats em {
    color: white;
}
