<!doctype html>
<html>

   <head>
      <meta charset="utf-8">
      <title>Babylon - App Scene</title>
      <link href="css/main.css" rel="stylesheet">
      <link href="js-v2/vendor/mocha/mocha.css" rel="stylesheet">
   </head>

<body>

<div class="side-by-side">
   <div class="view">

      <div class="main-panel">
         <canvas id="renderCanvas" class="main-canvas"></canvas>
      </div>

      <div class="main-panel addons">
         <div class="vert-panel">
            <h2>Application</h2>
            <div class='panel apps'>
               <select v-model='selected'>
                  <option v-for='item in apps'
                     v-bind:selected="item[0] == selected"
                     :value="item[0]">{{ item[1] }}</option>
               </select>

            </div>
            <div id="screenshot">
               <a @click='screenshot($event)' class="waves-effect waves-light screenshot btn">screenshot</a>
            </div>
         </div>

   </div>

</div>

<div class="tools">
</div>




<div class="log-parent">
   <div class="log-container" data-template data-logger>
      <div class="title">{{=it.name}} <span data-count></span></div>
      <div class="log-content-wrapper">
         <!-- Map to data-list object. -->
         <div class="history hidden" data-history-bar>
            <span class="value" data-history-count>0</span> messages stored to <a href="javascript">history</a> <a href="javascript">clear</a>
         </div>
         <div class="filters">
            <label class='lineo'>
               <input type="checkbox" class="lineo {{=it.indexCheck}}" name="lineo" id="lineo">
               <span>Line Numbers</span>
            </label>
            <label class='timestamp'>
               <input type="checkbox" class="timestamp {{=it.timeCheck}}" name="timestamp" id="timestamp">
               <span>Time stamp</span>
            </label>
            <label class='filter'>
               <span>Filter</span>
               <input type="text" name="filter" id="filter">
            </label>
         </div>
         <ul class="log-collection" data-list='items'>

            <li class="log-item template" data-template='default'>
               <span class="index {{=it.indexCheck}}">{{=it.index1}}</span>
               <span class="name">{{=it.name}}</span>
               <span class="info" data-info="{{=it.info}}"></span>
               <span class="time {{=it.timeCheck}}">{{=it.time}}</span>
               <span class="value">{{=it.value}}</span>
            </li>
         </ul>
      </div>
   </div>
</div>

<script type="text/javascript" src='js/vendor/doT/doT.js'></script>
<script type="text/javascript" src='js-v3/lib/extras/loader.js'></script>
<script type="text/javascript" src='js-v3/files.js'></script>


</body>
</html>
